<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Packages to scan for injection -->
    <context:annotation-config/>
    <context:component-scan
            base-package="at.ac.tuwien.infosys.prybila.runtimeVerification"/>

    <!-- Centralized agent data of all simulated companies -->
    <bean id="agentStorage"
          class="at.ac.tuwien.infosys.prybila.runtimeVerification.simulation.core.sharedStorages.AgentStorage">
        <constructor-arg index="0" ref="agents"/>
    </bean>

    <!-- Simulation agents, representing companies and potential choreography partners -->
    <bean id="agents" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="simulationAgent_A"/>
                <ref bean="simulationAgent_B"/>
                <ref bean="simulationAgent_C"/>
                <ref bean="simulationAgent_D"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="simulationAgent_A"
          class="at.ac.tuwien.infosys.prybila.runtimeVerification.simulation.SimulationAgent">
        <constructor-arg index="0" ref="handoverManager_A"/>
        <constructor-arg index="1" value="12001"/>
    </bean>

    <bean id="simulationAgent_B"
          class="at.ac.tuwien.infosys.prybila.runtimeVerification.simulation.SimulationAgent">
        <constructor-arg index="0" ref="handoverManager_B"/>
        <constructor-arg index="1" value="12002"/>
    </bean>

    <bean id="simulationAgent_C"
          class="at.ac.tuwien.infosys.prybila.runtimeVerification.simulation.SimulationAgent">
        <constructor-arg index="0" ref="handoverManager_C"/>
        <constructor-arg index="1" value="12003"/>
    </bean>

    <bean id="simulationAgent_D"
          class="at.ac.tuwien.infosys.prybila.runtimeVerification.simulation.SimulationAgent">
        <constructor-arg index="0" ref="handoverManager_D"/>
        <constructor-arg index="1" value="12004"/>
    </bean>

    <import resource="particalApplicationContextMainnetSimulation_WorkflowHandoverManagers_AgentSetOne.xml"/>

</beans>